* {
  outline: none;
}

button {
  border: none;
  outline: 0;
  cursor: pointer;
  background: none;
}

ul {
  list-style: none;
  padding: 0;
}

a, a:hover, a:focus, a:active {
  color: #1c60b4;
  cursor: pointer;
  text-decoration: none;
}
